*.suo
*.user
*.vspscc
*.scc
*.cache

.localhistory
.idea/
.vs/
App_Data/
bin/
obj/
TestResults/
Logs/
packages/
.history/
.vscode/


WebSite/WebSite/Test/Unit/Coverage/
WebSite/WebSite/TypeScripts/**/*.js
WebSite/WebSite/TypeScripts/**/*.js.map
WebSite/WebSite/Scripts/91app/**/*.js
WebSite/WebSite/Scripts/91app/**/*.js.map
WebSite/WebSite/Extensions/CodeGens/*.js
WebSite/WebSite/Extensions/CodeGens/*.js.map

Enums.js
Enums.js.map

[Tt]mp/
[Nn]ode_modules/
[Dd]ocs/
[Ss]assdoc/
.sass-cache/
.sass-cache/
StaticHTML/*.js
StaticHTML/*.map
npm-debug.log
WebSite/WebSite/Extensions/CodeGens/*.ts
WebSite/WebSite/Extensions/CodeGens/*.cshtml
WebSite/WebSite/Extensions/CodeGens/*.md
CrossLayer/Translations/i18n/**/* 
CrossLayer/Translations/generate.txt
CrossLayer/Translations/generate.txt
local.Setting.json
